@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

rect {
  fill: none;
  width: 13rem;
  height: 3.5rem;
  stroke: #fff;
  stroke-width: 1px;
  stroke-dasharray: 528;
  stroke-dashoffset: 528;
  animation: progress 1.8s linear forwards;
}

svg .secondary {
  fill: none;
  width: 13rem;
  height: 3.5rem;
  stroke: #161616;
  stroke-width: 1px;
  stroke-dasharray: 528;
  stroke-dashoffset: 528;
  animation: progress 1.8s linear forwards;
}

@keyframes progress {
  100% {
    stroke-dashoffset: 0;
  }
}

.btn-line-anim {
  animation: lineAnim 0.5s linear forwards;
  animation-delay: 1.8s;
}

@keyframes lineAnim {
  100% {
    width: 2rem;
  }
}

.stroke {
  -webkit-text-stroke: 0.8px #fff;
}

.floating-input {
  @apply w-full h-10 border border-slate-500 pl-[1rem] outline-none focus:border-black;
}

.floating-textarea {
  @apply w-full h-32 border border-slate-500 p-3 outline-none resize-none focus:border-black;
}
